.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 15px;
  position: relative;
  background-color: $backgroundColorPrimary;
  border-bottom: 1px solid #ececec;
  flex-direction: row-reverse;

  @include desktop {
    padding: 24px 0;
  }
}
.d-flex {
  display: flex;
}
.nav {
  display: none;
  align-items: center;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-transform: capitalize;
  @include tablet {
    display: flex;
  }
  &__item-header:not(:last-child) {
    margin-right: 50px;
  }
  &__item-header:not(:last-child) {
    margin-left: 315px;
  }

  //DEL->sprawdzić czy działa - jak cała strona będzie!! Dopiero potem skasować
  // & > .nav__item-header:not(:last-child) {
  //   margin-right: 50px;
  // }
  // & > .nav__item-header:not(:last-child) {
  //   margin-left: 315px;
  // }

  //DEL->sprawdzić czy działa - jak cała strona będzie!! Dopiero potem skasować
  //przeniosłem niżej pod nav__link i działa!
  //jak zmieniam & > .nav__link--active na &__link--active to napis "Active" gubi kolor
  //   & > .nav__link--active {
  //     color: $fontColorAction;
  //   }
  //   & > .nav__link--active-portfolio {
  //     color: $fontColorAction;
  //   }
  &__item {
    margin-right: 46px;
  }

  &__icon {
    fill: $fontColorSecondary;
    margin-right: 10px;
  }
  &__link {
    letter-spacing: 0.32px;
    color: $fontColorPrimary;
    display: flex;
    align-items: center;
    font-size: 40px;
    line-height: 1.17;

    @include tablet {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
    }

    //
    &--active {
      color: $fontColorAction;
    }
    &--active-portfolio {
      color: $fontColorAction;
    }
    //

    &:focus,
    &:hover {
      color: $fontColorAction;
      transition: color $transition;
    }
    &:hover .nav__icon {
      fill: $fontColorAction;
    }
    &--active::after {
      display: block;
      content: "";
      width: 53px;
      min-height: 4px;
      background-color: transparent;
      position: absolute;
      bottom: 0;

      @include tablet {
        background-color: $fontColorAction;
      }
    }
    &--active-portfolio::after {
      display: block;
      content: "";
      width: 58px;
      min-height: 4px;
      background-color: $fontColorAction;
      position: absolute;
      bottom: 0;
    }
    &--color {
      color: $fontColorSecondary;
      text-transform: lowercase;
      font-size: 24px;
    }
    @include tablet {
      font-size: 14px;
    }
  }
}
