.logo {
  font-family: $fontSecondary;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.48px;
  color: $fontColorAction;

  &--light {
    display: inline-block;
    padding-bottom: 20px;
    color: $backgroundColorPrimary;
  }

  &--dark {
    color: $logoColorSecond;
    padding-right: 93px;
  }
}
