.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  @media (min-width: 768px) {
    & {
      display: none;
    }
  }

  & .button-close__icon:hover,
  & .button-close__icon:focus {
    background-color: transparent;
    fill: $fontColorAction;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $backgroundColorPrimary;
  z-index: 999;
  transform: translateX(100%);
  transition: transform $transition;
  display: none;

  &.is-open {
    transform: translateX(0);
    display: block;
  }

  & .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: $fontColorPrimary;
  }
  & .menu-toggle:hover {
    color: $fontColorAction;
  }
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 8px;
  text-transform: capitalize;
  font-weight: 500;

  & .nav__tel {
    font-size: 34px;
    color: $fontColorAction;
    margin-top: 238px; //było 270px
    margin-bottom: 32px;
  }

  & .nav__media {
    color: $fontColorAction;
    font-size: 18px;
    line-height: 1.22;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding: 0 10px;
  }

  & .nav__item {
    margin-bottom: 32px;
  }
  & .nav__media--borderless {
    border-left: none;
    padding: 0;
    padding-right: 10px;
  }
  & .nav__email {
    margin-bottom: 64px;
  }
}
