.button__section-slogan {
  padding: 10px 41px 10px 42px;
}
.section-slogan {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(#2f303a66, #2f303a66), url(.../images);
  }

  // background-image: url("../images/img-overlay.png"),
  //   url("../images/img-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  @include tablet {
    // background-size: cover;
    padding: 110px 0;
  }
  @include desktop {
    height: 600px;
    // background-image: url("../images/img-overlay.png"),
    //   url("../images/img-bg.png");
    // background-repeat: no-repeat;
    background-size: 1600px;
    // background-position: center;
    // text-align: center;
  }
  &__title {
    color: $backgroundColorPrimary;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.62;
    letter-spacing: 0.96px;
    text-align: center;
    margin-bottom: 30px;

    //TABLET jak mobile
    @include tablet {
    }

    @include desktop {
      // color: $backgroundColorPrimary;
      font-size: 44px;
      // text-transform: uppercase;
      line-height: 1.37;
      // letter-spacing: 0.96px;
      // text-align: center;
      // margin-bottom: 30px;
    }
  }

  &--format {
    padding-top: 58px;
    //TABLET jak mobile

    @include tablet {
      width: 365px;
    }

    @include desktop {
      padding-top: 106px;
      width: 696px;
    }
  }
}
