.card-work {
  position: relative;
  height: 294px;

  &__label {
    font-size: 14px;
    font-weight: 700px;
    letter-spacing: 0.48px;
    line-height: 1.17;
    text-transform: uppercase;
    color: $backgroundColorPrimary;
  }
  &__label {
    position: absolute;
    bottom: 0;
    background: #2f303acc;
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 27px 90px;
  }
}
