* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: $fontPrimary, sans-serif;
  background-color: $backgroundColorPrimary;
  color: $fontColorPrimary, #212121;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;

  &__info {
    padding-bottom: 0;
  }

  &__header {
    font-size: 36px;
    font-weight: 700px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    text-align: center;
    padding-bottom: 50px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.button {
  color: $backgroundColorPrimary;
  background-color: $fontColorAction;
  border-color: $fontColorAction;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px #00000026;

  &:focus,
  &:active,
  &:hover {
    background-color: $fontColorAction;
    border-color: $fontColorAction;
    color: $backgroundColorPrimary;
    cursor: pointer;
    box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014,
      0px 2px 2px #0000001f;
    transition: background-color $transition, border-color $transition,
      color $transition, cursor $transition, box-shadow $transition;
  }
  &::first-letter {
    text-transform: uppercase;
  }
  &__footer {
    padding: 10px 28px 10px 42px;
  }
  &__icon {
    vertical-align: middle;
    margin-left: 24px;
    fill: $backgroundColorPrimary;
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .card:not(:last-child) {
    margin-right: 30px;
  }
  &__client-icon {
    outline: 1px solid $iconColorNormal;
    fill: $iconColorNormal;
    padding: 16px 32px;
    border-radius: 4px;
  }
  &__client-icon:active,
  &__client-icon:focus,
  &__client-icon:hover {
    outline-color: $fontColorAction;
    fill: $fontColorAction;
    cursor: pointer;
    transition: outline-color $transition, fill $transition, cursor $transition;
  }
  &__buttons {
    justify-content: center;
    margin-bottom: 50px;
  }
  &__buttons > .filter-item:not(:last-child) {
    margin-right: 8px;
  }
}
