$fontPrimary: "Roboto", sans-serif;
$fontSecondary: "Raleway", sans-serif;
$fontColorPrimary: #212121;
$fontColorSecondary: #757575;
$fontColorAction: #2196f3;
$backgroundColorPrimary: #ffffff;
$backgroundColorSecondary: #2f303a;
$backgroundColorEmployees: #f5f4fa;
$logoColorSecond: #000000;
$gapSectionGoods: 30px;
$iconColorNormal: #afb1b8;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
